.App-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}
#email, #password {
    width: 200px;
    margin: 10px;
}
.submit {
    width: 50px;
    margin-top: 10px;
}